# GUI Framework
customtkinter
# Web Search & Scrapers
ddgs
googlesearch-python
beautifulsoup4
# Connectivity & API Handling
requests
python-dotenv
# Phone Forensics
phonenumbers
# Threading & UI Support
urllib3